@using Application.Models.Order;
@using Application.Models.Product;

<div class="col-md-12">
    @if (crawledOrder == null)
    {
        <div class="text-center">
            <h5>There isn't any order.</h5>
        </div>
    }
    else
    {
        <table class="table border-dark table-hover table-sm shadow mb-5" style="background-color:#484D54">
            <thead>
                <tr>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">Order Id</span></th>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">CrawlType</span></th>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">RequestedAmount</span></th>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">TotalFoundAmount</span></th>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">Created On </span></th>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">  </span></th>
                    <th scope="col" style="background-color:#222831"><span class="text" style="color:#fff3cd">  </span></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var product in crawledOrder)
                {
                    <tr>
                        <td><span class="text" style="color:#cdcbc2">@product.Id</span></td>
                        <td><span class="text" style="color:#cdcbc2">@product.CrawlType</span></td>
                        <td><span class="text" style="color:#cdcbc2">@product.RequestedAmount</span></td>
                        <td><span class="text" style="color:#cdcbc2">@product.TotalFoundAmount</span></td>
                        <td><span class="text" style="color:#cdcbc2">@product.CreatedOn</span></td>
                        <td><span class="btn btn-outline-warning" style="color:#cdcbc2" @onclick="ShowProducts">Product</span></td>
                        <td><span class="btn btn-outline-info" style="color:#cdcbc2">Event</span></td>
                    </tr>
                }
            </tbody>
            
        </table>
       }
</div>


@code {
    
    private bool showProductTable = false;

    [Parameter]
    public List<ProductDto> crawledProducts { get; set; }

    [Parameter]
    public List<OrderDto> crawledOrder { get; set; }


    [Parameter]
    public EventCallback FetchProductsAsyncCallBack { get; set; }

    private void ShowProducts()
    {
        showProductTable = false;
        StateHasChanged();
    }

    
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
    }

    tr:hover {
        background-color: #fff3cd;
    }

    th span.text,
    td span.text {
        font-size: 12px;
    }

    .btn span.text {
        font-size: 12px;
    }

    .btn.btn-outline-warning,
    .btn.btn-outline-info {
        font-size: 12px;
    }

    .pagination {
        margin-top: 10px;
    }
</style>
